html, body {
  margin: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

body {
  font-size: 1rem;
  background: #000;
  color: #eee;
  font-family: monospace;
  text-align: center;
}

#niander {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  padding: 26px 0;
}

#niander img {
  width: 100%!important;
  -moz-transition: opacity 6s ease-in-out;
  transition: opacity 6s ease-in-out;
  opacity: 0;
}

#niander.active img {
  opacity: 1;
}

#switch {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 2px;
}